.bg-re{
    background-image: url(../images/robert-katzki-jbtfM0XBeRc-unsplash.jpg);
}
.my-btn{
    border: none;
    background-color: #2d98da !important;
}
.my-form{
    background-color: white;
}
.room-search{
    background-color: rgb(80, 77, 77);
    height: 100px

}
.breadcrumb li a{
    text-decoration: none;
   
    
}
.bg-img{
    background-image: url(../images/Bg_room.jpg);
   
}

